.main-astrology-card {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 2 / 3 / 3 / 4;
  margin: 1em;
  padding: 0;
  border-radius: 15px;
  border: none;
  height: 75vh;
  width: 30vw;
  font-size: 2.5vh;
  background: radial-gradient(circle, #F6F6F6 55%, #DAD7C2, #BBB690, #6DABA9, #386160, #1A1A1A);
}

.card-border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 25vw;
  border: 4px solid #2f5150;
  border-radius: 15px;
}

.main-astrology-image {
  width: 100%;
  margin-top: 12vh;
  border-radius: 50%;
}
