.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.submit-button,
.sign-dropdown {
  height: 3vh;
  align-self: center;
  margin: 1em 0;
  background-color: rgb(52,91,90, 0.8);
  border-color: #122021;
  color: #F6F6F6;
  font-weight: bold;
}

.submit-button {
  margin-left: .5vw;
  border-width: 1px;
  border-radius: 5px;
}

.saved-button {
  align-self: baseline;
  margin: .4em;
  border-radius: 50%;
  border: .5px solid #122021;
  background: -webkit-linear-gradient(top, #E9D07C, #AA893C, #FDE08D, #8f6B29);
}

.moon-icon {
  height: 3em;
  width: 3em;
}

.scopes-label,
.facts-label {
  font-size: 2.2vh;
  font-weight: bold;
  background-color: rgb(212, 209, 185, 0.5);
}

.facts-label {
  margin-right: 3vw;
}

.scopes-label {
  margin-left: 3vw;
}


/*~~~~~~ Responsiveness ~~~~~~ */

@media screen and (max-width: 768px) {
  .submit-button,
  .sign-dropdown {
    height: 8vh;
    align-self: center;
    margin: 1em;
  }

   .saved-label {
    display: none;
    margin: 3em;
  }
}

@media screen and (max-width: 600px) {
  .submit-button,
  .sign-dropdown {
    margin: .2em;
  }
}

@media screen and (max-width: 425px) {
  .sign-dropdown {
    width: 12em;
  }
}
