body {
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.app-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/*~~~~~~ Responsiveness ~~~~~~ */

@media screen and (max-width: 763px) {
  .card {
    width: 40vw;
  }
}

@media screen and (max-width: 600px) {
  .app-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .card {
    width: 50vw;
  }
}

@media screen and (max-width: 425px) {
  .card {
    width: 80vw;
  }

  .main-img {
    width: 20vw;
  }
}

@media screen and (max-width: 320px) {
  .card {
    width: 110vw;
  }
}
