.saved-scopes-display {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.nothing-saved {
  margin-top: 1vh;
  color: #1A1A1A;
  text-align: center;
  background-color: rgb(212, 209, 185, 0.8);
  border-radius: 6px;
}

.astrology-saved-card {
  height: 15vh;
  width: 90%;
  margin: 1em;
  padding: 0;
  border-radius: 15px;
  border: .15em solid #345B5A;
  font-size: 2.5vh;
  color: #FBEBB2;
  background-color: #1A1A1A;
  overflow: scroll;
}

.astrology-saved-description {
  margin: 1em 1.5em;
}

.nothing-saved {
  width: 90%;
}
