.main-astronomy-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 30vw;
  margin: 1em;
  padding: 0;
  border-radius: 15px;
  border: none;
  font-size: 2.5vh;
  background: radial-gradient(circle, #F6F6F6 55%, #DAD7C2, #BBB690, #6DABA9, #386160, #1A1A1A);
}

.main-astronomy-image {
  width: 22vw;
  margin-top: 12vh;
  border-radius: 50%;
}

.astronomy-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  width: 30vw;
  margin: 1em;
  padding: 0;
  border-radius: 15px;
  border: .15em solid #345B5A;
  font-size: 2.5vh;
  color: #FBEBB2;
  background-color: #1A1A1A;
  overflow: scroll;
}

.astronomy-image {
  width: 100%;
  height: auto;
  margin-top: 0em;
  border-radius: 15px 15px 0% 0%;
  border-bottom: .05em solid #FBEBB2;
}
