.astrology-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  width: 30vw;
  margin: 1em;
  padding: 0;
  border-radius: 15px;
  border: .15em solid #345B5A;
  font-size: 2.5vh;
  color: #FBEBB2;
  background-color: #1A1A1A;
  overflow: scroll;
}

.astrology-image {
  width: 100%;
  height: auto;
  margin-top: 0em;
  border-radius: 15px 15px 0% 0%;
}

.already-saved {
  background-color: #345B5A;
  border-radius: 50%;
}
